@page
@model CollegeMonitor.Pages_Sessions.IndexModel



<p>
    <a asp-page="Create" class="btn btn-success"> <i class="bi bi-file-plus"></i> Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].DurationInHours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Session) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationInHours)
            </td>
            <td>
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id"> <i class="bi bi-pencil"></i></a> |
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.Id"><i class="bi bi-clipboard"></i></a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id"><i class="bi bi-archive"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

